#msg{
	width:100%;
}
#button-send{
	float: right;	
}


.user1_name{
	width: 100%;
	text-align: right;
}
.user2_name{
	width: 100%;
	text-align: left;
}


.username2{
	
	width: 60%;
}
.username1{
	float: right;
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.inputbox{
	position: relative;
	bottom: 0;
	right: 0;
}

#user2_profile{
	width: 10%;
	height: 10%;
	border-radius: 50%;
}

#chat_container{
	overflow-y: auto;
}