.left-div{
    margin-left : 20%;
    margin-top : 3%;
    width:17%;
}
.right-div{
    margin-left : 5%;
    width:30%;
}
.create{
    margin-left : 40%;
    margin-top : 5%;
    width:100px;
}
.ck{
    margin-left : 20%;
}
.none{
    display: none;
}