.left-div{
    margin-left : 20%;
    margin-top : 3%;
    width:17%;
    border: 0px;
    font-size: large;
    font-weight: bold;
}
.right-div{
    margin-left : 5%;
    width:30%;
    display: inline-block !important;
}
.create{
    margin-left : 25%;
    margin-top : 5%;
    width:100px;
}
.ck{
    margin-left : 40%;
}
#check{
    width: 600px;
    margin-left: 10%;
}
.none{
    display: none;
}