<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  
  <mapper namespace="com.winter.app.carManage.CarManageDAO">
	<!-- 사용 가능 차량 조회 -->
	<select id="getUsableList" resultType="CarDetailVO" parameterType="CarManageVO">
		SELECT * FROM CAR_DETAIL cd  
		WHERE  car_code in (
		SELECT CAR_CODE FROM CAR_MANAGE cm 
		WHERE not
		( BOOKING_START <![CDATA[>=]]>  TO_DATE(#{booking_start}, 'YYYY-MM-DD HH24:MI:SS')-1/24
		AND
		BOOKING_DONE <![CDATA[<=]]> TO_DATE(#{booking_done}, 'YYYY-MM-DD HH24:MI:SS')+1/24 )
		)	
	</select>
 	
 	<!-- 차량 현재 상태를 배차요청중으로 변경 // 배차 요청시 -->
 	<update id="updateStatus1" parameterType="CarDetailVO">
		 UPDATE CAR_DETAIL SET PRO_STATUS = 1 WHERE CAR_CODE = #{car_code}
	 </update>
 	
 	<!-- 배차 요청 등록  -->
 	<insert id="carAllocation" parameterType="CarManageVO">
 		INSERT INTO CAR_MANAGE VALUES(CAR_MANAGE_SEQ.NEXTVAL,#{car_code},#{employee_num},TO_DATE(#{booking_start},'YYYY-MM-DD HH24:MI:SS')-1/24,TO_DATE(#{booking_done},'YYYY-MM-DD HH24:MI:SS')+1/24,0)
 	</insert>
 	
 	<!-- 해당 차량의 정보 가져오기 ( 해당 차량의 현재 배차 코드를 알기 위함  배차 코드는 시퀀스라서 추가 조회필요성 )  // 배차 요청 시 -->
 	<select id="getInfo" parameterType="CarDetailVO">
		 SELECT *
		FROM (
		    SELECT *
		    FROM CAR_MANAGE
		    WHERE CAR_CODE =#{car_code}
		    AND BOOKING_AGREE = 0
		    ORDER BY CAR_CODE DESC
		)
		WHERE ROWNUM = 1
	 </select>
	 
	 <select id="getCarNumber" parameterType="CarDetailVO" resultType="CarDetailVO">
		 SELECT * FROM CAR_DETAIL cd 
			WHERE CAR_CODE =
			(SELECT CAR_CODE FROM CAR_MANAGE cm
			WHERE MANAGE_CODE = #{car_code}
			)
	 </select>
  </mapper>