<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  
  <mapper namespace="com.winter.app.chat.ChatDAO">

	<insert id="createRoom" parameterType="ChatRoom">
		INSERT INTO ROOM VALUES(#{room_num})
	</insert>
	<select id="checkExistRoom" parameterType="ChatRoom" resultType="int">
		SELECT COUNT(ROOM_NUM) FROM ROOM WHERE ROOM_NUM = #{room_num} 
	</select>
	
	<insert id="inviteChatRoom" parameterType="ChatMemberVO">
		INSERT INTO CHAT_MEMBER (EMPLOYEE_NUM,ROOM_NUM,JOIN_TIME) VALUES(#{employee_num},#{room_num},SYSDATE)
	</insert>
	
	<select id="getChatList" parameterType="ChatMemberVO" resultType="ChatMessage">
		SELECT * FROM MESSAGE WHERE ROOM_NUM = #{room_num}
	</select>
	
	<insert id="sendMsg" parameterType="ChatMessage">
		INSERT INTO MESSAGE VALUES(MESSAGE_SEQ.NEXTVAL,#{employee_num},#{msg_contents},SYSDATE+(1/24*9),#{room_num})
	</insert>
	
	<select id="getLastWriter" parameterType="ChatMessage" resultType="ChatMessage">
		SELECT *
			FROM (
			    SELECT m.*, ROWNUM AS RN
			    FROM (
			        SELECT * 
			        FROM MESSAGE m
			        WHERE ROOM_NUM = #{room_num}
			        ORDER BY MESSAGE_NUM DESC
			    ) m
			)
			WHERE RN = 2
	</select>
	
	<!-- 사원 리스트 -->
	
 	<select id="getEmployeeList" resultType="Map" parameterType="EmployeeVO">
 		SELECT e.EMPLOYEE_NUM ,e.NAME,e.NICKNAME ,d.DEP_NAME,p.POS_NAME,d.DEP_CODE  FROM EMPLOYEE e
		LEFT JOIN DEPARTMENT d
		ON e.DEP_CODE  = d.DEP_CODE
		LEFT JOIN "POSITION" p
		ON e.POS_CODE = p.POS_CODE
		WHERE e.username != #{username}
 	</select> 	
 
 	<select id="getDepartment" resultType="DepartmentVO">
		SELECT * FROM DEPARTMENT ORDER BY DEP_CODE ASC
 	</select>
	
	<select id="getEmpInfo" parameterType="EmployeeVO" resultType="Map" >
		SELECT d.DEP_NAME,p.POS_NAME,e.EMPLOYEE_NUM,e.USERNAME ,e.NICKNAME ,e.PHONE ,e.NAME,e.profile  FROM EMPLOYEE e 
			LEFT OUTER JOIN DEPARTMENT d 
			ON e.DEP_CODE  = d.DEP_CODE
			LEFT OUTER JOIN "POSITION" p 
			ON e.POS_CODE  = p.POS_CODE 
		WHERE EMPLOYEE_NUM = #{employee_num}
	</select>
	
	<select id="getEmpName" parameterType="EmployeeVO"  resultType="Map">
		SELECT d.DEP_NAME,p.POS_NAME,e.EMPLOYEE_NUM,e.USERNAME ,e.NICKNAME ,e.PHONE ,e.NAME  FROM EMPLOYEE e 
			LEFT OUTER JOIN DEPARTMENT d 
			ON e.DEP_CODE  = d.DEP_CODE
			LEFT OUTER JOIN "POSITION" p 
			ON e.POS_CODE  = p.POS_CODE 
		WHERE username = #{username}
	</select>
	<!-- 사원 리스트 끝 -->
	
	<!-- 채팅방 내역  -->
	<!--채팅방 리스트-->
	<select id="getChattingRoom" parameterType="EmployeeVO" resultType="Map">
		SELECT cm.EMPLOYEE_NUM ,cm.ROOM_NUM,d.DEP_NAME,p.POS_NAME,e.NAME,e.profile  FROM CHAT_MEMBER cm 
			LEFT OUTER JOIN EMPLOYEE e 
			ON cm.EMPLOYEE_NUM  = e.EMPLOYEE_NUM
			LEFT OUTER JOIN DEPARTMENT d 
			ON d.DEP_CODE  = e.DEP_CODE 
			LEFT OUTER JOIN "POSITION" p 
			ON p.POS_CODE = e.POS_CODE 
			 WHERE ROOM_NUM IN  
			(SELECT ROOM_NUM FROM CHAT_MEMBER cm1 WHERE EMPLOYEE_NUM =#{employee_num}) AND e.EMPLOYEE_NUM  != #{employee_num}
	</select>	
	
	<!-- 각 채팅방 마지막 내용 -->
	<select id="getLastMessage" parameterType="ChatMemberVO" resultType="ChatMessage">
		SELECT * FROM 
			( SELECT * FROM MESSAGE m WHERE ROOM_NUM IN 
				(SELECT ROOM_NUM  FROM CHAT_MEMBER cm  WHERE ROOM_NUM IN  
					(SELECT ROOM_NUM FROM CHAT_MEMBER cm1 WHERE EMPLOYEE_NUM =#{employee_num}) AND EMPLOYEE_NUM  != #{employee_num} AND ROOM_NUM =#{room_num}
			) ORDER  BY MESSAGE_NUM DESC)
		 WHERE ROWNUM =1
	</select>
	<!-- 채팅방 내역 끝 -->
	
  </mapper>