<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.app.util.commons.CommonsDAO">

    <select id="getPositionList" resultType="PositionVO">
        SELECT * FROM "POSITION"
    </select>

    <select id="getRnRList" resultType="RnRVO">
        SELECT * FROM "RNR"
    </select>

    <select id="getDepList" resultType="DepartmentVO">
        SELECT * FROM "DEPARTMENT"
    </select>

</mapper>