<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  
  <mapper namespace="com.winter.app.customer.CustomerDAO">

  	
  	<select id="getList" resultType="CustomerVO">
  		SELECT * FROM CUSTOMER
  	</select>
  	

  	<select id="getDetail" resultType="CustomerVO" parameterType="CustomerVO">
  		SELECT * FROM CUSTOMER WHERE BUSINESS_NUM = #{business_Num}
  	</select>
  	
	<insert id="createCustomer" parameterType="CustomerVO">
		INSERT INTO CUSTOMER 
		VALUES(CUSTOMER_SEQ.NEXTVAL,#{business_Num},#{business_Name},#{ceo_Name},#{ceo_Phone},#{manager_Name},#{manager_Phone},#{sales_Manager},'법인',SYSDATE,#{address},'계약중')
	</insert>
	
	<update id="updateCustomer" parameterType="CustomerVO">
		UPDATE CUSTOMER SET
		BUSINESS_NUM=#{business_Num},BUSINESS_NAME=#{business_Name},CEO_NAME=#{ceo_Name},CEO_PHONE=#{ceo_Phone},MANAGER_NAME=#{manager_Name},MANAGER_PHONE=#{manager_Phone},address=#{address},SALES_MANAGER=#{sales_Manager}
		WHERE CUSTOMER_NUM = #{customer_Num}		
	</update>
	
  </mapper>