<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  
  <mapper namespace="com.winter.app.customer.CustomerDAO">

  	
  	<select id="getCompanyList" resultType="CustomerVO">
  		SELECT * FROM CUSTOMER WHERE CUSTOMER_TYPE = '법인' ORDER BY CUSTOMER_NUM ASC
  	</select>
  	<select id="getPersonList" resultType="CustomerVO">
  		SELECT * FROM CUSTOMER WHERE CUSTOMER_TYPE = '개인' ORDER BY CUSTOMER_NUM ASC
  	</select>
  	
  	<select id="getEmployeeName" resultType="EmployeeVO" parameterType="CustomerVO">
 		SELECT * FROM EMPLOYEE WHERE EMPLOYEE_NUM = #{employee_Num} 	
  	</select>
  	
  	

  	<select id="getDetail" resultType="CustomerVO" parameterType="CustomerVO">
  		SELECT * FROM CUSTOMER WHERE CUSTOMER_NUM = #{customer_Num} 
  	</select>
  	
	<insert id="createCustomer" parameterType="CustomerVO">
		INSERT INTO CUSTOMER 
		(CUSTOMER_NUM,EMPLOYEE_NUM,BUSINESS_NUM,BUSINESS_NAME,CEO_NAME,CEO_PHONE,MANAGER_NAME,MANAGER_PHONE,CUSTOMER_TYPE,FIRST_CONTRACT_DATE,ADDRESS,CONTRACT_TYPE)
		VALUES(CUSTOMER_SEQ.NEXTVAL,#{employee_Num},#{business_Num},#{business_Name},#{ceo_Name},#{ceo_Phone},#{manager_Name},#{manager_Phone},#{customer_Type},SYSDATE,#{address},'계약중')
	</insert>
	
	<update id="updateCustomer" parameterType="CustomerVO">
		UPDATE CUSTOMER SET
		BUSINESS_NAME=#{business_Name},CEO_NAME=#{ceo_Name},CEO_PHONE=#{ceo_Phone},MANAGER_NAME=#{manager_Name},MANAGER_PHONE=#{manager_Phone},address=#{address},EMPLOYEE_NUM=#{employee_Num}
		WHERE CUSTOMER_NUM = #{customer_Num}		
	</update>
	
	<delete id="deleteCustomer" parameterType="CustomerVO">
		DELETE CUSTOMER WHERE CUSTOMER_NUM = #{customer_Num}
	</delete>
	
  </mapper>