<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.app.draft.DraftDAO">

<select id="getBasisDraft" resultType="Map">
SELECT emp.*, dep.*, rnr.*, pos.*  FROM EMPLOYEE emp
								  left join DEPARTMENT dep
									on emp.DEP_CODE  = dep.DEP_CODE 
								  left	JOIN RNR rnr 
								 	ON emp.RNR_CODE  = rnr.RNR_CODE 
								  LEFT JOIN "POSITION" pos 
									ON emp.POS_CODE = pos.POS_CODE
</select>

<select id="getDepartmentList" resultType="DepartmentVO">
select * from department
</select>

<select id="getDraftMaxDocNum" resultType="DraftVO">
SELECT MAX(DOC_NUM) AS doc_num FROM DRAFT
</select>

</mapper>