<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.app.employee.EmployeeDAO">
	<select id="getDetail" parameterType="EmployeeVO" resultMap="getResultDetail">
		SELECT *
		FROM EMPLOYEE
			INNER JOIN
			DEPARTMENT
			USING (DEP_CODE)
			INNER JOIN
			"POSITION" p 
			USING (POS_CODE)
			INNER JOIN
			RNR r 
			USING (RNR_CODE)
		WHERE USERNAME=#{username}
	</select>
	<resultMap type="EmployeeVO" id="getResultDetail">
		<id column="EMPLOYEE_NUM" property="employee_num"/>
		<result column="USERNAME" property="username"/>
		<result column="PASSWORD" property="password"/>
		<result column="NAME" property="name"/>
		<result column="PHONE" property="phone"/>
		<result column="ADDRESS" property="address"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="JOIN_DATE" property="join_date"/>
		<result column="RETIRED_DATE" property="retired_date"/>
		<result column="LEVEL_DATE" property="level_date"/>
		<result column="STATE" property="state"/>
		<result column="SIGN_FILE" property="sign_file"/>
		<result column="PROFILE" property="profile"/>
		<result column="PROFILE_NAME" property="profile_name"/>
		
		<association property="departmentVO" javaType="DepartmentVO">
			<id column="DEP_CODE" property="dep_code"/>
			<result column="DEP_NAME" property="dep_name"/>
		</association>
		
		<association property="positionVO" javaType="PositionVO">
			<id column="POS_CODE" property="pos_code"/>
			<result column="POS_NAME" property="pos_name"/>
		</association>
		
		<association property="rnrVO" javaType="RnRVO">
			<id column="RNR_CODE" property="rnr_code"/>
			<result column="RNR_NAME" property="rnr_name"/>
		</association>
		
	</resultMap>
	
	
	<insert id="create" parameterType="EmployeeVO">
		INSERT INTO EMP_TEMP
		VALUES (#{username}, #{password}, #{name}, #{phone})
	</insert>
	
	
</mapper>