<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.app.employee.EmployeeDAO">
	<select id="getAlreadyCheck" parameterType="EmployeeVO" resultType="EmployeeVO">
		SELECT * FROM EMP_TEMP
		WHERE USERNAME = #{username}
	</select>
	<select id="getDetail" parameterType="EmployeeVO" resultMap="getResultDetail">
		SELECT *
		FROM EMPLOYEE
			LEFT OUTER JOIN DEPARTMENT USING (DEP_CODE)
			LEFT OUTER JOIN "POSITION" p USING (POS_CODE)
			LEFT OUTER JOIN RNR r USING (RNR_CODE)
		WHERE USERNAME=#{username}
	</select>
	<resultMap type="EmployeeVO" id="getResultDetail">
		<id column="EMPLOYEE_NUM" property="employee_num"/>
		<result column="USERNAME" property="username"/>
		<result column="PASSWORD" property="password"/>
		<result column="NAME" property="name"/>
		<result column="PHONE" property="phone"/>
		<result column="ADDRESS" property="address"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="JOIN_DATE" property="join_date"/>
		<result column="RETIRED_DATE" property="retired_date"/>
		<result column="LEVEL_DATE" property="level_date"/>
		<result column="STATE" property="state"/>
		<result column="PROFILE" property="profile"/>
		<result column="PROFILE_NAME" property="profile_name"/>
		<result column="SIGN_FILE" property="sign_file"/>
		
		<association property="departmentVO" javaType="DepartmentVO">
			<id column="DEP_CODE" property="dep_code"/>
			<result column="DEP_NAME" property="dep_name"/>
			<result column="DEP_ROLE" property="dep_role"/>
		</association>
		
		<association property="positionVO" javaType="PositionVO">
			<id column="POS_CODE" property="pos_code"/>
			<result column="POS_NAME" property="pos_name"/>
			<result column="POS_ROLE" property="pos_role"/>
		</association>
		
		<association property="rnrVO" javaType="RnRVO">
			<id column="RNR_CODE" property="rnr_code"/>
			<result column="RNR_NAME" property="rnr_name"/>
			<result column="RNR_ROLE" property="rnr_role"/>
		</association>
		
	</resultMap>
	
	
	<insert id="create" parameterType="EmployeeVO">
		INSERT INTO EMP_TEMP
		VALUES (#{username}, #{password}, #{name}, #{phone}, #{address})
	</insert>
	
	<update id="pwUpdate" parameterType="EmployeeVO">
	    UPDATE EMPLOYEE SET PASSWORD=#{password}
	    WHERE USERNAME=#{username}
	</update>
	
	<update id="signSave" parameterType="EmployeeVO">
		UPDATE EMPLOYEE SET SIGN_FILE = #{sign_file}
		WHERE EMPLOYEE_NUM=#{employee_num}
	</update>
	
	<update id="infoUpdate" parameterType="EmployeeVO">
		UPDATE EMPLOYEE 
		SET NICKNAME = #{nickname}, ADDRESS= #{address}, PHONE= #{phone}
		WHERE EMPLOYEE_NUM=#{employee_num}
	</update>
	
	<update id="profileUpdate" parameterType="EmployeeVO">
		UPDATE EMPLOYEE 
		SET PROFILE=#{profile}, PROFILE_NAME=#{profile_name}
		WHERE EMPLOYEE_NUM=#{employee_num}
	</update>
	
	<select id="idSearchNum" parameterType="EmployeeVO" resultType="EmployeeVO">
		SELECT * FROM EMPLOYEE e 
		WHERE NAME = #{name} AND EMPLOYEE_NUM = #{employee_num}
	</select>
	<select id="idSearchPhone" parameterType="EmployeeVO" resultType="EmployeeVO">
		SELECT * FROM EMPLOYEE e 
		WHERE NAME = #{name} AND PHONE= #{phone}
	</select>
	
	<select id="getUserEmailCheck" parameterType="EmployeeVO" resultType="EmployeeVO">
		SELECT * FROM EMPLOYEE e
		WHERE EMPLOYEE_NUM =#{employee_num} AND NAME = #{name} AND USERNAME = #{username}
	</select>
	
	<select id="getUserPhoneCheck" parameterType="EmployeeVO" resultType="EmployeeVO">
		SELECT * FROM EMPLOYEE e
		WHERE PHONE =#{phone} AND NAME = #{name} AND USERNAME = #{username}
	</select>
</mapper>