<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.winter.app.HomeDAO">
	<select id="getList" resultType="BoardVO">
		SELECT *
		FROM ( SELECT ROWNUM R, N.*
				FROM (	SELECT BOARD_CODE, CATE_CODE, BOARD_TITLE, TO_CHAR(BOARD_DATE, 'YYYY-MM-DD') AS "BOARD_DATE" 
						FROM BOARD
						WHERE CATE_CODE = 1 AND BOARD_STATUS = 1
						ORDER BY BOARD_CODE DESC
						)N
				)
		WHERE R BETWEEN 1 AND 5
	</select>
	
	<insert id="setAttendDate">
		INSERT INTO ATTENDANCE (EMPLOYEE_NUM, ATTEND_DATE, ATTEND_VAC)
		SELECT EMPLOYEE_NUM, CURRENT_DATE, 0
		FROM EMPLOYEE
		WHERE STATE =1
	</insert>
		
		<!-- UPDATE ATTENDANCE
		SET ATTEND_START_TIME = CURRENT_DATE
		WHERE TRUNC(ATTEND_DATE) = TRUNC(CURRENT_DATE) AND EMPLOYEE_NUM =#{employee_num} -->
	<update id="setAttendence" parameterType="AttendanceVO">
		MERGE INTO ATTENDANCE
		USING (SELECT TRUNC(CURRENT_DATE) AS CURRENT_DATE FROM DUAL) D
		ON (TRUNC(ATTEND_DATE) = D.CURRENT_DATE)
		WHEN MATCHED THEN
		    UPDATE SET ATTEND_START_TIME = CURRENT_DATE
		    WHERE TRUNC(ATTEND_DATE) = TRUNC(CURRENT_DATE) AND EMPLOYEE_NUM = 2022003
		WHEN NOT MATCHED THEN
		    INSERT (EMPLOYEE_NUM, ATTEND_DATE, ATTEND_START_TIME, ATTEND_VAC)
		    VALUES (2022003, CURRENT_DATE, CURRENT_DATE, 0)
	</update>
	
	<update id="setWorkOut" parameterType="AttendanceVO">
		UPDATE ATTENDANCE
		SET ATTEND_DONE = CURRENT_DATE
		WHERE TRUNC(ATTEND_DATE) = TRUNC(CURRENT_DATE) AND ATTEND_START_TIME IS NOT NULL AND EMPLOYEE_NUM =#{employee_num}
	</update>
	
	<select id="getAttendTime" parameterType="AttendanceVO" resultType="AttendanceVO">
		SELECT TO_CHAR(ATTEND_START_TIME, 'HH24:MI:SS') AS ATTEND_START_TIME, TO_CHAR(ATTEND_DONE, 'HH24:MI:SS') AS ATTEND_DONE
		FROM ATTENDANCE a 
		WHERE TRUNC(ATTEND_DATE) = TRUNC(CURRENT_DATE) AND EMPLOYEE_NUM =#{employee_num}
	</select>
	
	<select id="isAttended" parameterType="AttendanceVO">
		SELECT CASE WHEN COUNT(ATTEND_START_TIME) > 0 THEN 'true' ELSE 'false' END
		FROM ATTENDANCE
		WHERE TRUNC(ATTEND_DATE) = TRUNC(CURRENT_DATE) AND EMPLOYEE_NUM =#{employee_num}
	</select>
	<select id="isWorkOut" parameterType="AttendanceVO">
		SELECT CASE WHEN COUNT(ATTEND_DONE) > 0 THEN 'true' ELSE 'false' END
		FROM ATTENDANCE
		WHERE TRUNC(ATTEND_DATE) = TRUNC(CURRENT_DATE) AND EMPLOYEE_NUM =#{employee_num}
	</select>
</mapper>