<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.app.humanResource.HumanResourceDAO">

    <select id="getAskList" resultType="TempMemberVO">
        SELECT * FROM EMP_TEMP
    </select>

    <select id="getMemberList" resultType="EmployeeVO">
        SELECT EMPLOYEE_NUM,NAME,NICKNAME,PHONE,ADDRESS,DEP_CODE,POS_CODE,JOIN_DATE FROM EMPLOYEE
    </select>

    <select id="getVacationList" resultType="VacationVO">
        SELECT * FROM VACATION
    </select>

</mapper>