<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  
  <mapper namespace="com.winter.app.sitesch.SiteSchDAO">
	<select id="getList" resultType="Map" parameterType="Pagination">
			SELECT c.CUSTOMER_TYPE,c.BUSINESS_NAME,c.CEO_NAME,ss.*,cm.booking_agree FROM SITE_SCH ss
			LEFT OUTER JOIN CUSTOMER c 
			ON ss.CUSTOMER_NUM = c.CUSTOMER_NUM
			LEFT OUTER JOIN EMPLOYEE e 
			ON SS.EMPLOYEE_NUM  = e.EMPLOYEE_NUM
			LEFT OUTER JOIN CAR_MANAGE cm 
			ON ss.MANAGE_CODE = cm.MANAGE_CODE 
		<where>
    		<if test="search != null and search != ''">
	            AND e.NAME LIKE '%'||#{search}||'%'
       		</if>
  	 	 </where>
	</select>
 	
 	<!-- 일정 등록 -->
 	<insert id="createSch" parameterType="SiteSchVO">
 		INSERT INTO SITE_SCH
 		(SITE_NUM,CUSTOMER_NUM,PRICE,START_TIME,END_TIME,EMPLOYEE_NUM,SITE_TYPE,SALES_MANAGER,ADDRESS)
		VALUES (SITE_SCH_SEQ.NEXTVAL,#{customer_Num},#{price},TO_DATE(#{start_Time},'YYYY-MM-DD HH24:MI:SS'),TO_DATE(#{end_Time},'YYYY-MM-DD HH24:MI:SS'),#{employee_Num},#{site_Type},#{sales_Manager},#{address})
		 		
 	</insert>
 	
 	<!-- 퇴사한 영업사원이나 현장담당자로 일정을 추가하거나 수정하면 에러처리 하기위한 재직상태 확인 -->
 	<select id="getEmployeeState" parameterType="SiteSchVO" resultType="EmployeeVO" >
 		SELECT e.* FROM SITE_SCH ss 
		LEFT OUTER JOIN EMPLOYEE e 
		ON ss.EMPLOYEE_NUM  = e.EMPLOYEE_NUM 
		LEFT OUTER JOIN EMPLOYEE e2 
		ON ss.SALES_MANAGER = e2.EMPLOYEE_NUM 
		WHERE (e.dep_code = 102 OR e2.DEP_CODE = 101 ) AND (e.EMPLOYEE_NUM = #{employee_Num} AND e2.EMPLOYEE_NUM = #{sales_Manager})
 	</select>
 	
 	<select id="getEmployeeState2" parameterType="SiteSchVO" resultType="EmployeeVO" >
 		SELECT e2.* FROM SITE_SCH ss 
		LEFT OUTER JOIN EMPLOYEE e 
		ON ss.EMPLOYEE_NUM  = e.EMPLOYEE_NUM 
		LEFT OUTER JOIN EMPLOYEE e2 
		ON ss.SALES_MANAGER = e2.EMPLOYEE_NUM 
		WHERE (e.dep_code = 102 OR e2.DEP_CODE = 101 ) AND (e.EMPLOYEE_NUM = #{employee_Num} AND e2.EMPLOYEE_NUM = #{sales_Manager})
 	</select>
 	
 	<!-- 일정 수정 -->
 	<update id="updateSch" parameterType="SiteSchVO">
 		UPDATE SITE_SCH
 		SET PRICE = #{price}, START_TIME =TO_DATE(#{start_Time},'YYYY-MM-DD HH24:MI:SS'), END_TIME = TO_DATE(#{end_Time},'YYYY-MM-DD HH24:MI:SS'),
 		EMPLOYEE_NUM = #{employee_Num}, SALES_MANAGER=#{sales_Manager},ADDRESS=#{address},SITE_TYPE=#{site_Type}
 		WHERE SITE_NUM = #{site_Num}
 	</update>
 	
 	<!-- 일정 변경 ( 취소, 배차상태, 담당자 배정 등등 ) -->
 	<update id="updateSchType" parameterType="SiteSchVO">
 		UPDATE SITE_SCH
 		SET SITE_TYPE = #{site_Type} 
 		WHERE SITE_NUM = #{site_Num} 
 	</update>
 	
 	<!-- 회사명으로 거래처정보 가져오기 ( 현재 안씀 허점 많음 ) -->
 	<select id="getCustomerInfo" parameterType="SiteSchVO" resultType="CustomerVO">
		SELECT * FROM CUSTOMER WHERE BUSINESS_NAME =#{business_Name} 	
 	</select>
 	
 	<!-- 거래처 고유 번호로 해당 거래처 정보 가져오기 -->
 	<select id="getCustomerInfo2" parameterType="SiteSchVO" resultType="CustomerVO">
 		SELECT * FROM CUSTOMER WHERE CUSTOMER_NUM = #{customer_Num}
 	</select>

	<!-- 영업 사원 리스트 가져오기 , 셀렉트 박스에 사용  -->
	<select id="getSales" resultType="EmployeeVO">
		SELECT EMPLOYEE_NUM, NAME,STATE FROM EMPLOYEE WHERE DEP_CODE = 101 AND STATE =1
	</select>

	<!-- 현장 사원 리스트 가져오기 , 셀렉트 박스에 사용 -->
	<select id="getSiter" resultType="EmployeeVO">
		SELECT EMPLOYEE_NUM, NAME,STATE FROM EMPLOYEE WHERE DEP_CODE = 102 AND STATE =1
	</select>
 	
 	<!-- 모든 거래처 가져오기 , 회사명 입력 셀렉트 박스에 사용 -->
 	<select id="getCustomerList" resultType="CustomerVO">
 		SELECT * FROM CUSTOMER
 	</select>
 	
 	<!-- 현장번호로 해당 현장 정보 가져오기 , 일정 디테일 확인용  -->
 	<select id="getSchedule" resultType="SiteSchVO" parameterType="SiteSchVO">
 		SELECT * FROM SITE_SCH WHERE SITE_NUM = #{site_Num}
 	</select>
 	
 	<!-- 현장 날짜만 변경 , 일정 드래그 앤 드랍 -->
 	<update id="updateSchDrag" parameterType="SiteSchVO">
 		UPDATE SITE_SCH SET START_TIME = TO_DATE(#{start_Time},'YYYY-MM-DD HH24:MI:SS'), END_TIME= TO_DATE(#{end_Time},'YYYY-MM-DD HH24:MI:SS') WHERE SITE_NUM = #{site_Num}
 	</update>
 	
 	<!-- 현장 배차 코드 부여 , 배차 요청시 -->
 	<update id="updateManageCode" parameterType="SiteSchVO">
		 UPDATE SITE_SCH SET MANAGE_CODE = #{manage_Code} WHERE SITE_NUM = #{site_Num}
	 </update>
 	
 	
  </mapper>	